/* Header
--------------------------------------*/
.navbar {
  background-color: #000000;
  padding: 0;
  justify-content: flex-start;
}

#wavey {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button:focus {
  outline: none;
}

.navbar-nav .nav-link {
  padding-top: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: #87cbd3;
  font-size: 20px;
}

.ml-auto, .mx-auto {
   margin-left: 0!important; 
}

.navbar-nav {
  margin-top: 10px;
  margin-left: 82px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #c5e6ea;
}

/* Parallax
--------------------------------------*/
.parallax {
  /* The image used */
  background-image: url("parallax.jpg");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Jumbotron
--------------------------------------*/
#background {
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width:80%;
  margin: 0 auto;
}



.container h1 {
  color: white;
}

.jumbotron{
  position: relative;
  z-index:-101;
}

.fa-rocket, .fa-code {
  margin: 50px;
}

.fa-bitcoin {
  margin: 50px 50px 50px 65px;
}

/* Footer
--------------------------------------*/
  .footer {
    margin-top: 100px;
    background-color: blue;
    width: 100%;
    height: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: black 
  }  

  /* Media Queries
--------------------------------------*/
@media (max-width: 576px) {
  .navbar-collapse {
    margin-top: -15px;
    margin-left: 82px;
  }
}
